body {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
}

#container1 {
    background-image: url("background/bluesky.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    width: 50%;
    
}

#container2{
    min-height: 100%;
    width: 100%;
}
