@font-face {
    font-family: 'alex_brushregular';
    src: url('alexbrush-regular-webfont.woff2') format('woff2'),
         url('alexbrush-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    margin-left: 300px;
    margin-right: 300px;
    background-color: white;  
}

#container1 {
    background-image: url("background/bluesky.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;   
}

#titletext {
    color: white;
    font-size: 50px;
    padding-top: 100px;
    font-family: "alex_brushregular";
    
}



#signincontainer {
    display: flex;
    flex-direction: column;
    border: 1px solid;
    box-shadow: 2px 2px 4px 2px #e6e3e3;
    padding: 30px;
}

#sometext {
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
}

#formcontainer {
    display:flex;
    flex-direction: row;
}

form {
    padding-bottom: 10px;
}

input {
    width: 220px;
}

input:invalid {
    border-color: red;
}

input:valid {
    border-color: green;
}

#firstbox {
    padding:20px;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: space-around;
    font-size: 12px;
    font-weight: bold;
    color: gray;
}

#secondbox {
    padding:20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 12px;
    font-weight: bold;
    color: gray;
}

#footy {
    align-content: flex-end;
}


#container2{
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



#submitbutton {
    color: white;
    background-color: #596D48;
    width: 200px;
    height: 50px;
    margin-left: 50px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    margin-top: 20px;
}

#text {
    font-size: 25px;
    padding-bottom: 30px;
    padding-left: 50px;

    font-weight: bold;
}

#footnote {
    padding: 50px;
    font-size: 12px;
    font-weight: bolder;
}